/* @import "tailwindcss" */
/*  */


* {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: default;
}

*::selection {
    background-color: #baff00;
    color: #030712;
}

@font-face {
    font-family: "Satoshi";
    src: url("./assets/Satoshi.ttf") format("truetype");
}

.satoshi {
    font-family: "Satoshi", sans-serif !important;
}

@import "tailwindcss"